.commercial {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  padding: 24vw 3vw 10vw;
}

.commercial__samples {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}