.commercial {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  padding-top: 20vh;

}

.commercial__samples {
  padding: 18vw 2vw 2vw;
  list-style-type: none;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 3vw;

  border: 1px solid red;
}

.commercial__unit {
  display: flex;
  flex-direction: column;
}

