.main {
  width: 100%;
  flex-grow: 1;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../images/main-banner-mobile.png);
  background-position: top;
  background-size: cover;
}

.main__content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  gap: 30px;
  padding: 3vh 3vw 8vh;
  box-sizing: border-box;
}

.main__title {
  padding-top: 44vh;
  color: #fff;
  font-size: 5vw;
  font-weight: 400;
}

.main__subtitle {
  color: #fff;
  font-weight: 300;
}

.main__navigation {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: max-content;
  gap: 2vw;
}

@media screen and (min-aspect-ratio: 1/1) {
  /* .main__background {
    background-image: url(../../images/main-banner-mobile.png);
  } */
}

@media screen and (max-aspect-ratio: 1/1) {
  .main__background {
    background-image: url(../../images/main-banner-mobile.png);
  }

  .main {
    justify-content: flex-end;
  }

  .main__content {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4vh 4vh;
    gap: 1.6vw;
    flex-grow: 0;
  }

  .main__title {
    padding: 0;
    font-size: 10vw;
    line-height: 0.9;
  }

  .main__subtitle {
    font-size: 4vw;
  }
}