.cards {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  grid-auto-rows: auto;
  align-items: start;
  gap: 2vw;
  padding: 3vw 0vw 10vw;
  line-height: 0;
}

/* планшет вертикально */
@media (min-width: 768px) and (max-aspect-ratio: 1/1) {
  .cards {
    padding: 2.5vw 0vw 10vw;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }
}

/* мобильный горизонтально */
@media (max-height: 767px) and (min-aspect-ratio: 1/1) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 4vw;
  }
}