@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Regular.woff2') format('woff2'),
       url('./Montserrat-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Medium.woff2') format('woff2'),
       url('./Montserrat-Medium.woff') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-SemiBold.woff2') format('woff2'),
       url('./Montserrat-SemiBold.woff') format('woff');
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('./Fraunces-Regular.woff2') format('woff2'),
       url('./Fraunces-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-style: normal;
}