.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vw 10vw;
  border-bottom: 2px solid #000;
  z-index: 1000;
  background-color: #fff;
}

.header__title {
  font-size: 2.5vw;
  font-weight: 600;
  letter-spacing: -0.2px;
}