.header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 75px 366px 67px;
}

.header__title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.2px;
}