.navbar {
  display: flex;
  flex-direction: row;
  gap: 44px;
}

.navbar__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}