.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -101vw;
  width: 100vw;
  height: 100vh;
  z-index: 7;
  transition: right 0.3s;
}

.navbar_opened {
  right: 0;
  transform: transition;
}

.navbar__blur-overlay {
  position: absolute;
  top: 0;
  right: 0vw;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  pointer-events: none;
}

.navbar__title-subsection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 4vw 3vw 4vw 6vw;
}

.navbar__container {
  background-color: #fff;
  height: 100%;
  width: 72vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 7;
}

.navbar__close-icon {
  width: 6vw;
}

.navbar__title {
  font-size: 5vw;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -0.5px;
}

.navbar__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: 400;
}

.navbar__instagram-link {
  margin: 0 0 2vh 6vw;
  width: 45vw;
  font-size: 6.2vw;
}