.navbar {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.navbar__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  font-weight: 400;
}

@media (max-width: 1180px) {
  .navbar {
    gap: 2vw;
  }

  .navbar__link {
    font-size: 1.8vw;
  }
}

@media (max-width: 1070px) {
  .navbar {
    gap: 3vw;
  }
}

@media (max-width: 970px) {
  .navbar {
    gap: 3vw;
  }

  .navbar__link {
    font-size: 2.2vw;
  }
}

@media (max-width: 600px) {
  .navbar {
    box-sizing: border-box;
    position: absolute;
    top: 13.5vw;;
    left: -100vw;
    width: 100%;
    flex-direction: column;
    padding: 5vw;
    background-color: #fff;
    gap: 8vw;
    border: 4px solid #a5a5a5;
    z-index: 6;
    transition: left 0.7s;
  }

  .navbar__link {
    height: 12vw;
    font-size: 5vw;
    border: 1px solid #000;
  }

  .navbar_opened {
    left: 0;
  }
}

@media (max-width: 550px) {
  .navbar {
    top: 22.5vw;;
  }
}