.footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #0D0A07;
  padding: 275px 368px 290px;
}

.footer__text {
  color: #fff;
}

.footer__title {
  font-size: 32px;
  font-weight: 500;
  padding: 0 0 162px 28px;
}

.footer__contacts {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 50px;
  align-items: center;
}

.footer__contacts-name {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.4px;
  padding-bottom: 40px;
}

.footer__contacts-text {
  font-weight: 400;
  font-size: 32px;
}