.footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1vw 3vw;
  border-top: 1px solid #F7F7F7;
}

.footer__title {
  color: #282828;
  font-size: 12.5vw;
  line-height: 1.1;
}

.footer__sections {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  gap: 0vw;
  padding-top: 8vw;
}

.footer__photographer-section--title {
  grid-column: 1;
  grid-row: 1;
}

.footer__horizontal-line {
  grid-column: 1 / -1;
  grid-row: 2;
}

.footer__agent-section--title {
  grid-column: 1;
  grid-row: 3;
  line-height: 0.9;
}

.footer__link {
  font-family: 'Athiti', Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #A2937C;
  font-size: 4.7vw;
  margin: 0 0 2vw;
  line-height: 1.4;
}

.footer__horizontal-line {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #F7F7F7;
  margin: 0 0 6vw;
}

.footer__links-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vw;
}

.footer__section-title {
  color: #282828;
  font-size: 5vw;
}