.contacts {
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32vw 3vw 0vw;
  align-items: flex-start;
}

.contacts__title {
  font-size: 10vw;
  font-weight: 400;
  align-self: flex-start;
  padding-bottom: 10vw;
}

.contacts__image {
  display: none;
}

.contacts__mobile {
  box-sizing: border-box;
}

.contacts__regular {
  display: none;
}

@media (min-width: 768px) and (max-aspect-ratio: 1/1) {
  .contacts {
    padding: 15vw 9.5vw 0vw;
  }

  .contacts__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3vw;
  }

  .contacts__title {
    font-size: 4.2vw;
    padding-bottom: 3vw;
  }

  .contacts__image {
    display: block;
    width: 39vw;
  }

  .contacts__mobile{
    display: none;
  }

  .contacts__regular {
    display: flex;
    flex-direction: column;
    padding-top: 6vw;
  }
}

/* мобильный горизонтально */
@media (max-height: 767px) and (min-aspect-ratio: 1/1) {
  .contacts {
    padding: 25vh 2vw 0vh;
  }

  .contacts__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5vw;
  }

  .contacts__title {
    font-size: 4.2vw;
    padding-bottom: 3vw;
  }

  .contacts__image {
    display: block;
    width: 20vw;
  }

  .contacts__mobile{
    display: none;
  }

  .contacts__regular {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
}